@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold/Roboto-Condensed.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
body {
  background-color: #d7d7d7;
}
body div #main-nav {
  background-color: white !important;
  padding-top: 8px;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  body div #main-nav > div > a {
    position: relative;
    left: -2.6% !important;
  }
}
body div #main-nav > div ul.navbar-nav > li {
  width: auto;
}
body div #main-nav > div ul.navbar-nav > li > a {
  font-family: unset;
  font-weight: bold !important;
  font-size: 18px;
  color: #343434 !important;
}
body div #main-nav > div ul.navbar-nav > li > a:hover {
  color: #666666 !important;
}
@media (min-width: 1024px) {
  body div #main-nav > div ul.navbar-nav {
    display: table;
    width: 100%;
    margin-left: 15.2% !important;
  }
  body div #main-nav > div ul.navbar-nav > li {
    position: relative;
    float: none !important;
    display: table-cell;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  body div #main-nav > div ul.navbar-nav > li > a {
    text-align: right;
    padding: 0 !important;
  }
  body div #main-nav > div ul.navbar-nav > li:first-child {
    right: -1.6%;
  }
  body div #main-nav > div ul.navbar-nav > li:nth-child(2) {
    right: -1%;
  }
  body div #main-nav > div ul.navbar-nav > li:nth-child(3) {
    right: -1%;
  }
  body div #main-nav > div ul.navbar-nav > li:nth-child(4) {
    right: -0.6%;
  }
  body div #main-nav > div ul.navbar-nav > li:nth-child(5) {
    right: -1.6%;
  }
  body div #main-nav > div ul.navbar-nav > li:last-child {
    right: -4.5%;
  }
}
body header {
  height: 685px;
  width: 1400px;
  margin-top: 1%;
  background: url('images/hero_img.jpg') no-repeat center;
  background-size: 1400px;
  width: auto;
}
body header > div.container {
  font-family: Roboto;
  text-align: center;
  color: white;
}
body header > form .header-input {
  border: solid 2px white !important;
}
body header > form > div.form-row > div:nth-child(4) button {
  border-color: #007bff !important;
}
@media (min-width: 1024px) {
  body header > form {
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-left: 0px;
    margin-right: 0px;
  }
  body header > form > div.form-row > div:first-child input {
    position: relative;
    left: -0.7em !important;
    width: 99% !important;
  }
  body header > form > div.form-row > div:nth-child(2) select {
    position: relative;
    left: 0em !important;
    width: 98% !important;
  }
  body header > form > div.form-row > div:nth-child(3) input {
    position: relative;
    left: 0.7em !important;
    width: 98% !important;
  }
  body header > form > div.form-row > div:nth-child(4) button {
    position: relative;
    left: 1.5em !important;
    width: 96% !important;
    border-color: #007bff !important;
  }
}
body header h1.display-6 {
  font-size: 48px;
  font-weight: 700;
}
body header p.lead {
  font-size: 16px;
  font-weight: 400;
  margin-top: 3%;
  margin-bottom: 6%;
}
body header .header-input {
  width: 100%;
}
body header form {
  display: block;
}
